@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400&display=swap');

*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Sono';

}

#app { 
    background-color: black;
}

#corpo{ 
    background-color: black;
}

.navbar-brand img { 
    margin-left: 5vw;
}

ul li a:hover { 
    text-shadow: 0 0 10px rgb(217, 255, 0),
        0 0 20px rgb(208, 255, 0),
        0 0 30px #26e600,
        0 0 40px #c4e600,
        0 0 50px #e6d700,
        0 0 60px #cfe600,
        0 0 70px #26e600
}

.menu{ 
    margin-right: 10vw;
}

.texto-inicial p { 
    margin-left: 5vw;
    font-size: 20px;
    color: white;
}

@keyframes texto {
        from{ 
            font-size: 0;
        }

        to { 
            font-size: 20px;
        }
}

.texto1{ 
    margin-top: 17vw;
    animation-name: texto;
    animation-duration: 5s;
}

.btns { 
    animation-name: texto;
    animation-duration: 5s;
}




@keyframes animacao { 
    from {width: 2vw;}
    to { width: 36vw}
}



.img-main{ 
    margin-top: 8vw;
    width: 35vw;
    animation-name: animacao;
    animation-duration: 7s;
  
}




.btns { 
    margin-left: 5vw;
    
}



.btns a { 
    text-decoration: none;
    padding:  10px;
}

.btn-1, .btn-2 { 
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3vw;
}

.img-renato { 
    width: 12vw;
    margin-top: 7vw;
    border-radius: 50%;
}

.texto-sobre{ 
    
       margin-left: 5vw;
        font-size: 17px;
        color: white;
}

.btn-curriculo a{ 
text-decoration: none;
padding: 10px;
margin: 0;
}

.btn-curriculo img{ 
    width: 20px;
}

.btn-card{ 
    width: 150px;
}

